body {
  background: #222;
}
canvas {
  background: #aaa;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
button{
  width : 120px;
  line-height: 30px;
  font-size: 24;
  font-weight: bold;
}